.Activity {
    grid-area: 2 / 1 / span 1 / span 3;
    position: relative;
    background-color: #fbfbfb;
    border-radius: 0.5rem;
    min-height: 24.4rem;
    // max-height: 32rem;
    min-width: 50rem;
    // max-width: 83.5rem;
    & .custom-tooltip {
        background-color: #e60000;
        padding: 1rem;
        color: white;
        border-radius: 0.5rem;
        font-size: 1.4rem;
    }
    & h3 {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}
