.AvgSession {
    grid-area: 3 / 1 / span 1 / span 1;
    background-color: #ff0000;
    border-radius: 0.5rem;
    // min-width: 18.3rem;
    // min-height: 20rem;
    position: relative;
    box-sizing: border-box;
    padding: 1rem;
    & .custom-tooltip {
        & .label {
            background-color: #ffffff;
            color: black;
            padding: 1rem;
        }
    }
    & h3 {
        color: #ffffffbf;
        position: absolute;
    }
}
