.Score {
    grid-area: 3 / 3 / span 1 / span 1;
    color: black;
    background-color: #fbfbfb;
    border-radius: 0.5rem;
    // min-width: 18.3rem;
    // min-height: 20rem;
    position: relative;
    & tspan {
        width: 100%;
    }
    &_pourcent {
        color: black;
        font-size: 2.6rem;
        font-weight: bold;
    }
    & h3 {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}
.recharts-radial-bar-sector {
    transform: rotateZ(-85deg);
    transform-origin: center;
}
